aioice
aiortc
altair
asttokens
attrs
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
dnspython
executing
filelock
Flask
fonttools
fsspec
gitdb
GitPython
google-crc32c
gunicorn
idna
ifaddr
intel-openmp
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mkl
mpmath
nest-asyncio
networkx
numpy
opencv-python-headless
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
pyee
Pygments
pylibsrtp
pyOpenSSL
pyparsing
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
stack-data
streamlit
streamlit-webrtc
sympy
tbb
tenacity
threadpoolctl
toml
toolz
torch
torchvision
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
